html {
    color-scheme: light dark;
  }
  .color-scheme {
    font-size: 0.8rem;
  }
  
  body {
    background-color: Canvas;
    color: CanvasText;
  }
  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  .current {
    border-bottom: 4px solid var(--border-color);
  }

  .color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: sans-serif;
  }
  
  .color-scheme label,
  .color-scheme select {
    font-size: 1rem;
  }
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
}
body {
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1em;
  }
  nav {
    display: flex;
  }
  nav a {
    flex: 1;
  }
  :root {
    --color-accent: oklch(65% 50% 0);
  }
  
  nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200);
  }
  
  nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }
  
  nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }
  
  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: oklch(from var(--color-accent) 95% 5% h);
  }
  input, textarea, button, select {
    font: inherit;
  }
  orm {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: start;
  }
  
  label {
    display: contents;
  }
  
  input, textarea, button {
    font: inherit;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    grid-column: 1 / -1;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    margin-block: 1em;
  }
  .projects > article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 0.5em;
  }
  .projects h2 {
    margin: 0;
  }
  h1 {
    font-size: 400%;
    margin-bottom: 0.5em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }
  section {
    background-color: #f9f9f9;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 6px;
  }
  ul {
    padding-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  
  li {
    margin-bottom: 0.4em;
  }
  [style*="color-scheme: dark"] .resume {
    color: black;
  }